<% provide(:title, "Users") %>

<ul>
  <% for user in @users %>
  <li>
    <span><%= link_to user.username, user_path(user) %></span> -
    <span><%= user.email %></span>
    <%= link_to 'Delete', user_path(user), method: :delete %>
  </li>
  <% end %>
</ul>