<% provide(:title, 'Register') %>

  <div id="registration-form-container">
  
    <form action="" id="id" method="POST">
      <p>
        <label for="username">Username:</label>
        <input name="username" type="text">
      </p>
      <p>
        <label for="email">Email Address:</label>
        <input name="email" type="text">
      </p>
      <p>
        <label for="password">Password:</label>
        <input name="password" type="password">
      </p>
      <p>
        <label for="password_confirmation">Confirm password:</label>
        <input name="password_confirmation" type="password">
      </p>
      <div id="center-button">
        <button type="button">Register</button>
      </div>
    </form>

  </div>