<% provide(:title, 'Register') %>

  <script>

  $(document).ready(function() {

    function validateFieldNotEmpty(field) {
      if (field.val().trim()) {
        return true;
      }
      else {
        $(field).addClass('form-field-error');
        return false;
      }
    }

    function validate() {
      var username_elem = $('input[name=username]');
      var email_elem = $('input[name=email]');
      var password_elem = $('input[name=password]');
      var password_confirmation_elem = $('input[name=password_confirmation]');

      var valid = true;

      /* We want to mark *all* errors, so don't short-circuit the validation call. */
      valid = validateFieldNotEmpty(username_elem) && valid;
      valid = validateFieldNotEmpty(email_elem) && valid;
      valid = validateFieldNotEmpty(password_elem) && valid;
      valid = validateFieldNotEmpty(password_confirmation_elem) && valid;

      console.log("valid?: " + valid);
      return valid;
    }

    $("#register-button").click(function (e) {
      e.preventDefault();
      if (validate()) {
        $("#registration-form").submit();
      }
    });
  });

  </script>

  <div id="registration-form-container">
  
    <h1>New User</h1>
    <form action="" id="registration-form" method="POST">
      <p>
        <label for="username">Username:</label>
        <input name="username" type="text">
      </p>
      <p>
        <label for="email">Email Address:</label>
        <input name="email" type="text">
      </p>
      <p>
        <label for="password">Password:</label>
        <input name="password" type="password">
      </p>
      <p>
        <label for="password_confirmation">Confirm password:</label>
        <input name="password_confirmation" type="password">
      </p>
      <div id="center-button">
        <button type="button" id="register-button">Register</button>
      </div>
      <!-- Hack to get container wrap to include the button: -->
      <p>&nbsp;</p> 
    </form>

  </div>