<% provide(:title, "#{@days.first.strftime('%A %B %-d')} - #{@days.last.strftime('%A %B %-d')}") %>

<div id="schedule-container">
  
  <% @days.each do |day| %>
  <table class="schedule-table">
    <%= render partial: "schedule_header", locals: { day: day } %>

    <% @tutors.each do |tutor| %>
    <tr class="schedule-table-tutor-row">
      <td class="schedule-table-tutor-name" colspan="8"><%= tutor.user.username %></td>
      <% 40.times do %>
      <td class="schedule-table-schedule-block"></td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <% end %>

</div>