<% provide(:title, "#{@days.first.strftime('%A %B %-d')} - #{@days.last.strftime('%A %B %-d')}") %>

<div id="schedule-container">
  
  <% @days.each do |day| %>
  <table class="schedule-table">
    <%= render partial: "schedule_header", locals: { day: day } %>

    <% @tutors.each do |tutor| %>
    <%= render partial: "schedule_tutor_row", locals: { day: day, tutor: tutor } %>
    <% end %>
  </table>
  <% end %>

</div>