$application-header-background: #DDD;
$application-header-nav-background: #6464FF;

$flash-success-foreground: #3F3;
$flash-success-background: #CFC;

$flash-error-foreground: #F33;
$flash-error-background: #FCC;

$flash-notice-foreground: #33F;
$flash-notice-background: #CCF;

$form-background-color: #DDD;
$form-heading-color: #77F;

$form-elem-border-color: #BBB;
$form-elem-background-color: #FFF;

$button-hover-color: #AAA;
$button-hover-text-color: #FFF;
$button-color: #FFF;
