/* CSS for the application layout. */

@import "_colors.scss";

body {
  margin: 0;
  font-size: 0.9em;
  font-family: "Lucida Grande", Verdana, sans-serif;
}

#header {
  width: 100%;
  overflow: auto;
  background-color: $application-header-background;
  margin-bottom: 1em;
  #header-banner {
    h1 {
      text-align: center;
      font-size: 2.15em;
      text-shadow: #BBB 0.1em 0.1em 0.05em;
    }
  }
  #top-nav {
    background-color: $application-header-nav-background;
    border-bottom: 1em solid #55F;
    overflow: auto;

    .nav-item {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      display: block;
      margin-left: 1em;
      margin-right: 1em;
      float: right;
      font-size: 1.15em;
      font-weight: bold;
      text-decoration: none;
    }
    .spacer {
      margin-left: 2em;
      margin-right: 2em;
    }
    a {
      color: #FFF;
      &:hover {
        color: #FF0;
      }
    }
  }
}