// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '_colors.scss';
@import '_forms.scss';

#login-form-container {
  width: 25%;
  min-width: 18em;
  margin-left: auto;
  margin-right: auto;

  background-color: $form-background-color;
  border: 1px solid $form-elem-border-color;
  
  h1 {
    margin-left: 1em;
  }

  label {
    width: 50%;
    float: left;
    text-align: right;
  }
  
  p {
    height: 1em;
  }

  input {
    width: 40%;
    float: right;
    margin-right: .5em;
  }

  #center-button {
    width: 40%;
    float: right;
    margin-right: .5em;

    button {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
